<h1>Applications listing</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Web link</th>
    <th>Actions</th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%=h application.title %></td>
    <td><%=h application.description %></td>
    <td><a href="<%=h application.web_link %>"><%=h truncate_letters(application.web_link) %></a></td>
    <td><%= link_to 'Show', application %> <%= link_to 'Edit', edit_application_path(application) %> <%= link_to 'Destroy', application, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New application', new_application_path %>
<p>
<%= link_to 'Home', root_path %>
