<h1>Videos listing</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Publish date</th>
    <th>Web link</th>
    <th>Actions</th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%=h video.title %></td>
    <td><%=h video.publish_date %></td>
    <td><a href="<%=h video.web_link %>"><%= h truncate_letters(video.web_link)%></a></td>
    <td><%= link_to 'Show', video %> <%= link_to 'Edit', edit_video_path(video) %> <%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New video', new_video_path %>
<p>
<%= link_to 'Home', root_path %>
