<h1>New video</h1>

<% form_for(@video) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :publish_date %><br />
    <%= f.date_select :publish_date %>
  </p>
  <p>
    <%= f.label :web_link %><br />
    <%= f.text_field :web_link %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Videos', videos_path %>